//Ignore node_modules directory
node_modules/

//Ignore log files
*.log

//Ignore temporary files
*.temp

//Ignore system files (e.g., Mac system files)
.DS_Store

//gnore IDE-specific files (e.g., VSCode)
.vscode/

//Ignore npm debug log
npm-debug.log